* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  position: relative;
  padding: 15px;
}

.wrapper {
  margin: 0 auto;
  max-width: 961px;
  font-family: "Arial";
}

.hidden {
  display: none;
}


.title {
  padding: 30px 0;
  color: #bfbfbf;
  font-size: 24px;
  font-weight: bold;
  font-family: "Arial";
  letter-spacing: 1px;
  text-transform: uppercase;
}

ul {
  margin-bottom: 40px;
  list-style: none;
}


a  {
  display: block;
  padding: 17px 30px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none; 
}

.flex {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.flex li:last-child,
.header-row p:last-child {
  border-right: none;
}





.products{
  background-color: #2a3644;
  border-radius: 3px;
}

.products li{
  position: relative;
  text-align: center;
  border: 1px #3f4852 solid;
  border-top: none;
  border-bottom: none;
}

.products > li:first-child,
.technique > li:first-child {
  border-radius: 3px 0 0 3px;
}

.products > li:last-child,
.technique > li:last-child {
  border-radius: 0 3px 3px 0;
}




.technique {
  background-color: #2a3644;
  border-radius: 3px;
}

.technique li {
  position: relative;
  flex-grow: 1;
  text-align: center;
  border: 1px #3f4852 solid;
}


.border-first:hover a {
  border-radius: 3px 0 0 3px;
}

.border-last:hover a {
  border-radius: 0 3px 3px 0;
}

.border-top:hover a {
  border-radius: 3px 3px 0 0;
}

.border-bottom:hover a,
.border-bottom:hover {
  border-radius: 0 0 3px 3px;
}

.border-side-top:hover a {
  border-radius: 3px 0 0 0;
}

.border-side-bottom:hover a {
  border-radius: 0 0 0 3px;
}

.border-side-right:hover a {
  border-radius: 0 3px 0 0;
}

li:hover > a {
  color: #ff8505;
  background-color: #3f4852;
}

li:hover > .sub-menu {
  display: block;
}


.milk {
  right: 0;
  left: unset;
}

.sub-menu {
  position: absolute;
  display: none;
  width: 211px;
  top: calc(100% + 5px);
  z-index: 1; 
}

.sub-menu li {
  text-align: left;
  background-color: #d2d4d5;
  border: 1px #b9bdc1 solid;
}

.sub-menu li:first-child {
  border-radius: 3px 3px 0 0;
  border: none;
}

.sub-menu li:nth-child(2),
.sub-menu li:nth-child(3),
.info .sub-menu li:nth-child(2) {
  border-right: none;
  border-left: none;
}

.sub-menu li:nth-child(2),
.border .td {
  border-bottom: none;
}

.sub-menu li:last-child {
  border-radius: 0 0 3px 3px;
  border: none;
}

.info .sub-menu li:first-child,
.info .sub-menu li:last-child,
.info .landscape-border li:nth-child(4) {
  border: none;
}


.info .sub-menu li:nth-child(3),
.info .landscape-border li:nth-child(6) {
  border-left: none;
  border-right: none;
  border-top: none;
}

.info .services-menu li:nth-child(4) {
  border: none;
}

.info .services-menu li:nth-child(5) {
  border-top: none;
  border-right: none;
  border-bottom: none;
}


.info .landscape-border li:nth-child(5) {
  border-left: none;
  border-right: none;
}









.sub-menu:before,
.second-sub:before,
.third-sub:before {
  content: "";
  position: absolute;
}

.sub-menu:before {
  top: -5px;
  left: 0;
  width: 100%;
  height: 5px;
}

.sub-menu a {
  padding: 15px;
  color: #2a3644;
}

.second-sub {
  top: 0;
  left: calc(100% + 5px);
}

.second-sub:before {
  left: -5px;
  height: 100%; 
}

.third-sub {
  top: 0;
  right: calc(100% + 5px);
  left: unset;
}

.third-sub:before {
  left: 5px;
  height: 100%; 
}


.info {
  background-color: #2a3644;
  border-radius: 3px;
  padding: 0;
}

.info ul {
  margin: 0;
}

.info li {
  position: relative;
  flex-grow: 1;
  text-align: center;
  border: 1px #3f4852 solid;
}

.home {
  margin: 0;
  border: none;
  position: relative;
  border-radius: 3px 0 0 3px;
}

.icon-home {
  position: absolute;
  top: 15.5px;
  left: 5px;
  width: 20px;
  height: 18px;
}

.info .sub-menu li {
  text-align: left;
  border: 1px #b9bdc1 solid;
} 


.services-menu a {
  padding: 11px 15px;
}

.services-menu {
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  width: 421px;
  max-height: 170px;
}

li:hover .services-menu{
  display: flex;
}

.services-menu > li:first-child {
  border-radius: 3px 0 0 0;
}

.services-menu > li:nth-child(4) {
  border-radius: 0 0 0 3px;
}

.services-menu > li:nth-child(5) {
  border-radius: 0 3px 0 0;

}

.empty {
  height: 81px;
  border-radius: 0 0 3px 0;
}

.landscape {
  width: 390px;
  text-align: left;
}


.social li {
  border: none;
  padding: 0 17px;
}

.icon {
  margin: 0 1px;
  width: 17px;
  height: 20px;
  fill: #fff;
}

.icon:hover {
  fill: #fd8612;
}



.number,
.header-row p:first-child {
  border-left: none;
}

table td {
  border-right: none;
  border-bottom: none;
}

.line th,
.border-top p {
  border-top: none;
}

.line th:first-child {
  border-radius: 3px 0 0 0;
}

.line th:last-child {
  border-radius: 0 3px 0 0;
  border-right: none;
}



table {
  width: 935px;
  border-collapse: collapse;
}


tr:hover > td {
  color: #2a3644;
  background-color: #c0c1c2;
}


 td, th{
  border: 1px #c0c1c2 solid;
}



thead {
  background-color: #2a3644;
}

tr {
  height: 35px; 
}

th {
  border-color: #3f4852;
  height: 20px;
  color: #fff;
}



.row .td:first-child,
.row .td:last-child {
  border-left: none;
  border-right: none;
}

.border .td:first-child,
.border td:first-child {
  border-radius: 0 0 0 3px;
}

.border .td:last-child,
.border td:last-child  {
  border-radius: 0 0 3px 0;
}


.header-row p {
  border-top: none;
  border-bottom: none;
}



.number {
  width: 60px;
  text-align: center;
}

.name {
  padding: 20px;
  width: 506px;
  text-align: left;
}

[colspan="3"] {
  width: 392px;
}

.value {
  padding: 20px;
  text-align: right;
}

.cell:nth-child(odd) {
  background-color: #f7f5f5;
}

.cell:nth-child(even) {
  background-color: #e9e7e7;
}


.table {
  display: table;
  padding: 0;
  width: 935px;
  border-collapse: collapse;
  font-size: 16px;
  font-family: "Arial"; 
  align-items: center; 
}


.th, .td{
  padding: 15px;
  border-collapse: collapse;
  border: 1px #c0c1c2 solid;
}










.header-row, .row {
  display: table-row;

}

.header-row {
  background-color: #2a3644;
  font-weight: bold;
}

.goods-name {
  width: 506px;
}


.th {
  border-color: #3f4852;
  height: 20px;
  color: #fff;
}

.td, .th {
  display: table-cell;
}

p {
  display: inline-block;
}



.row:nth-child(odd) {
  background-color: #f7f5f5;
}

.row:nth-child(even) {
  background-color: #e9e7e7;
}

.row:hover {
  color: #2a3644;
  background-color: #c0c1c2;
}

.th.value {
  text-align: center;
}























